<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/changePassword">Change Password</a></div>
  </nav>
  <section id="makeChampionship">
    <form id="championshipForm" name="championshipForm" action="/championships" method="POST" class="championshipForm">
      <label for="name">Name: </label>
      <input id="championshipName" type="text" name="name" placeholder="Championship Name"/>
      <input class="makeChampionshipSubmit" type="submit" value="Make Championship" />
    </form>
  </section>
  
  <section id="championship">
    {{#if championships}}
      {{#each championships}}
        <div class="championship">
          <h3 class="championshipName"><a href="/championships/{{this.name}}">{{this.name}}</a></h3>
          
          <!--<input id="{{this.name}}-fileinput" type="file"></input>
          <button id="{{this.name}}-addRaceTest">Add Race</button>-->
          
          <form ref='uploadForm' 
            id="{{this.name}}-form"
            action='/addRace' 
            method='post' 
            encType="multipart/form-data">
                <input type="file" name="raceFile" />
                <input type='submit' value='Upload!' />
            </form>
        </div>
      {{/each}}
    {{else}}
      <h3 class="emptyDomo">No Championships yet!</h3>
    {{/if}}
  </section>
  
  <!--<div id="domoMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
    <img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>-->
  <script src="/assets/mainBundle.js"></script>
</body>
</html>
